In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('phl_hec_all_confirmed.csv')

In [3]:
dataset

,P. Name,P. Name Kepler,P. Name KOI,P. Zone Class,P. Mass Class,P. Composition Class,P. Atmosphere Class,P. Habitable Class,P. Min Mass (EU),P. Mass (EU),...,P. Int ESI,P. Surf ESI,P. ESI,S. HabCat,P. Habitable,P. Hab Moon,P. Confirmed,P. Disc. Method,P. Disc. Year,Unnamed: 68
0,1RXS 1609 b,NaN,NaN,Cold,Jovian,gas,hydrogen-rich,non-habitable,NaN,4451.16,...,0,0,0.05,0,0,0,1,Imaging,2008,NaN
1,1SWASP J1407 b,NaN,NaN,Cold,Jovian,gas,hydrogen-rich,non-habitable,6358.80,6358.80,...,0,0,0.07,0,0,0,1,Primary Transit,2012,NaN
2,2M 0103-55(AB) b,NaN,NaN,Cold,Jovian,gas,hydrogen-rich,non-habitable,4133.22,4133.22,...,0,0,0.06,0,0,0,1,Imaging,2013,NaN
3,2M 0122-24 b,NaN,NaN,Cold,Jovian,gas,hydrogen-rich,non-habitable,NaN,6358.80,...,0,0,0.08,0,0,0,1,Imaging,2013,NaN
4,2M 0219-39 b,NaN,NaN,Cold,Jovian,gas,hydrogen-rich,non-habitable,NaN,4419.37,...,0,0,0.06,0,0,0,1,Imaging,2015,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3870,YBP1194 b,NaN,NaN,Hot,Jovian,gas,metals-rich,non-habitable,108.10,108.10,...,0,0,0.16,0,0,0,1,Radial Velocity,2014,NaN
3871,YBP1514 b,NaN,NaN,Hot,Jovian,gas,metals-rich,non-habitable,127.18,127.18,...,0,0,0.15,0,0,0,1,Radial Velocity,2014,NaN
3872,YZ Cet b,NaN,NaN,Hot,Terran,rocky-iron,metals-rich,non-habitable,0.76,0.76,...,0,0,0.43,0,0,0,1,Radial Velocity,2017,NaN
3873,YZ Cet c,NaN,NaN,Hot,Terran,rocky-iron,metals-rich,non-habitable,0.99,0.99,...,0,0,0.53,0,0,0,1,Radial Velocity,2017,NaN
3874,YZ Cet d,NaN,NaN,Hot,Terran,rocky-iron,metals-rich,non-habitable,1.14,1.14,...,0,0,0.65,0,0,0,1,Radial Velocity,2017,NaN

In [4]:
dataset = dataset.fillna(0)

In [5]:
dataset.to_csv('new_data.csv')

In [6]:
dataset.columns

Index(['P. Name', 'P. Name Kepler', 'P. Name KOI', 'P. Zone Class',
       'P. Mass Class', 'P. Composition Class', 'P. Atmosphere Class',
       'P. Habitable Class', 'P. Min Mass (EU)', 'P. Mass (EU)',
       'P. Max Mass (EU)', 'P. Radius (EU)', 'P. Density (EU)',
       'P. Gravity (EU)', 'P. Esc Vel (EU)', 'P. SFlux Min (EU)',
       'P. SFlux Mean (EU)', 'P. SFlux Max (EU)', 'P. Teq Min (K)',
       'P. Teq Mean (K)', 'P. Teq Max (K)', 'P. Ts Min (K)', 'P. Ts Mean (K)',
       'P. Ts Max (K)', 'P. Surf Press (EU)', 'P. Mag', 'P. Appar Size (deg)',
       'P. Period (days)', 'P. Sem Major Axis (AU)', 'P. Eccentricity',
       'P. Mean Distance (AU)', 'P. Inclination (deg)', 'P. Omega (deg)',
       'S. Name', 'S. Name HD', 'S. Name HIP', 'S. Constellation', 'S. Type',
       'S. Mass (SU)', 'S. Radius (SU)', 'S. Teff (K)', 'S. Luminosity (SU)',
       'S. [Fe/H]', 'S. Age (Gyrs)', 'S. Appar Mag', 'S. Distance (pc)',
       'S. RA (hrs)', 'S. DEC (deg)', 'S. Mag from Planet',
       'S. Size from Planet (deg)', 'S. No. Planets', 'S. No. Planets HZ',
       'S. Hab Zone Min (AU)', 'S. Hab Zone Max (AU)', 'P. HZD', 'P. HZC',
       'P. HZA', 'P. HZI', 'P. SPH', 'P. Int ESI', 'P. Surf ESI', 'P. ESI',
       'S. HabCat', 'P. Habitable', 'P. Hab Moon', 'P. Confirmed',
       'P. Disc. Method', 'P. Disc. Year', 'Unnamed: 68'],
      dtype='object')

In [7]:
dataset["P. Habitable Class"].value_counts()

non-habitable        3820
mesoplanet             31
psychroplanet          18
hypopsychroplanet       3
thermoplanet            3
Name: P. Habitable Class, dtype: int64

In [8]:
cleanup_nums = {"P. Zone Class":     {"Cold": 1, "Hot": 2, "Warm": 3 },
                "P. Mass Class": {"Jovian": 1, "Superterran": 2, "Neptunian": 3, "Terran": 4,
                                  "Subterran": 5, "Mercurian":6},
               "P. Composition Class": {"gas": 1, "rocky-iron": 2, "rocky-water": 3, "water-gas": 4, "iron": 5},
               "P. Atmosphere Class": {"metals-rich": 1, "hydrogen-rich": 2, "no-atmosphere": 3},
               "P. Habitable Class": {"non-habitable": 1, "mesoplanet": 2, "psychroplanet": 3, "hypopyschroplanet": 4, "thermoplanet": 5}}

In [9]:
dataset.replace(cleanup_nums, inplace=True)

In [10]:
dataset.columns

Index(['P. Name', 'P. Name Kepler', 'P. Name KOI', 'P. Zone Class',
       'P. Mass Class', 'P. Composition Class', 'P. Atmosphere Class',
       'P. Habitable Class', 'P. Min Mass (EU)', 'P. Mass (EU)',
       'P. Max Mass (EU)', 'P. Radius (EU)', 'P. Density (EU)',
       'P. Gravity (EU)', 'P. Esc Vel (EU)', 'P. SFlux Min (EU)',
       'P. SFlux Mean (EU)', 'P. SFlux Max (EU)', 'P. Teq Min (K)',
       'P. Teq Mean (K)', 'P. Teq Max (K)', 'P. Ts Min (K)', 'P. Ts Mean (K)',
       'P. Ts Max (K)', 'P. Surf Press (EU)', 'P. Mag', 'P. Appar Size (deg)',
       'P. Period (days)', 'P. Sem Major Axis (AU)', 'P. Eccentricity',
       'P. Mean Distance (AU)', 'P. Inclination (deg)', 'P. Omega (deg)',
       'S. Name', 'S. Name HD', 'S. Name HIP', 'S. Constellation', 'S. Type',
       'S. Mass (SU)', 'S. Radius (SU)', 'S. Teff (K)', 'S. Luminosity (SU)',
       'S. [Fe/H]', 'S. Age (Gyrs)', 'S. Appar Mag', 'S. Distance (pc)',
       'S. RA (hrs)', 'S. DEC (deg)', 'S. Mag from Planet',
       'S. Size from Planet (deg)', 'S. No. Planets', 'S. No. Planets HZ',
       'S. Hab Zone Min (AU)', 'S. Hab Zone Max (AU)', 'P. HZD', 'P. HZC',
       'P. HZA', 'P. HZI', 'P. SPH', 'P. Int ESI', 'P. Surf ESI', 'P. ESI',
       'S. HabCat', 'P. Habitable', 'P. Hab Moon', 'P. Confirmed',
       'P. Disc. Method', 'P. Disc. Year', 'Unnamed: 68'],
      dtype='object')

In [11]:
dataset.to_csv('new_data.csv')
dataset.columns

Index(['P. Name', 'P. Name Kepler', 'P. Name KOI', 'P. Zone Class',
       'P. Mass Class', 'P. Composition Class', 'P. Atmosphere Class',
       'P. Habitable Class', 'P. Min Mass (EU)', 'P. Mass (EU)',
       'P. Max Mass (EU)', 'P. Radius (EU)', 'P. Density (EU)',
       'P. Gravity (EU)', 'P. Esc Vel (EU)', 'P. SFlux Min (EU)',
       'P. SFlux Mean (EU)', 'P. SFlux Max (EU)', 'P. Teq Min (K)',
       'P. Teq Mean (K)', 'P. Teq Max (K)', 'P. Ts Min (K)', 'P. Ts Mean (K)',
       'P. Ts Max (K)', 'P. Surf Press (EU)', 'P. Mag', 'P. Appar Size (deg)',
       'P. Period (days)', 'P. Sem Major Axis (AU)', 'P. Eccentricity',
       'P. Mean Distance (AU)', 'P. Inclination (deg)', 'P. Omega (deg)',
       'S. Name', 'S. Name HD', 'S. Name HIP', 'S. Constellation', 'S. Type',
       'S. Mass (SU)', 'S. Radius (SU)', 'S. Teff (K)', 'S. Luminosity (SU)',
       'S. [Fe/H]', 'S. Age (Gyrs)', 'S. Appar Mag', 'S. Distance (pc)',
       'S. RA (hrs)', 'S. DEC (deg)', 'S. Mag from Planet',
       'S. Size from Planet (deg)', 'S. No. Planets', 'S. No. Planets HZ',
       'S. Hab Zone Min (AU)', 'S. Hab Zone Max (AU)', 'P. HZD', 'P. HZC',
       'P. HZA', 'P. HZI', 'P. SPH', 'P. Int ESI', 'P. Surf ESI', 'P. ESI',
       'S. HabCat', 'P. Habitable', 'P. Hab Moon', 'P. Confirmed',
       'P. Disc. Method', 'P. Disc. Year', 'Unnamed: 68'],
      dtype='object')

In [12]:
dataset = dataset.drop(['P. Name Kepler', 'P. Name KOI', 'P. Disc. Year', 'Unnamed: 68', 'S. Name'], axis = 1)

In [13]:
dataset.columns

Index(['P. Name', 'P. Zone Class', 'P. Mass Class', 'P. Composition Class',
       'P. Atmosphere Class', 'P. Habitable Class', 'P. Min Mass (EU)',
       'P. Mass (EU)', 'P. Max Mass (EU)', 'P. Radius (EU)', 'P. Density (EU)',
       'P. Gravity (EU)', 'P. Esc Vel (EU)', 'P. SFlux Min (EU)',
       'P. SFlux Mean (EU)', 'P. SFlux Max (EU)', 'P. Teq Min (K)',
       'P. Teq Mean (K)', 'P. Teq Max (K)', 'P. Ts Min (K)', 'P. Ts Mean (K)',
       'P. Ts Max (K)', 'P. Surf Press (EU)', 'P. Mag', 'P. Appar Size (deg)',
       'P. Period (days)', 'P. Sem Major Axis (AU)', 'P. Eccentricity',
       'P. Mean Distance (AU)', 'P. Inclination (deg)', 'P. Omega (deg)',
       'S. Name HD', 'S. Name HIP', 'S. Constellation', 'S. Type',
       'S. Mass (SU)', 'S. Radius (SU)', 'S. Teff (K)', 'S. Luminosity (SU)',
       'S. [Fe/H]', 'S. Age (Gyrs)', 'S. Appar Mag', 'S. Distance (pc)',
       'S. RA (hrs)', 'S. DEC (deg)', 'S. Mag from Planet',
       'S. Size from Planet (deg)', 'S. No. Planets', 'S. No. Planets HZ',
       'S. Hab Zone Min (AU)', 'S. Hab Zone Max (AU)', 'P. HZD', 'P. HZC',
       'P. HZA', 'P. HZI', 'P. SPH', 'P. Int ESI', 'P. Surf ESI', 'P. ESI',
       'S. HabCat', 'P. Habitable', 'P. Hab Moon', 'P. Confirmed',
       'P. Disc. Method'],
      dtype='object')

In [14]:
dataset.select_dtypes(include=['object']).copy()

,P. Name,P. Habitable Class,P. SFlux Min (EU),P. SFlux Mean (EU),P. SFlux Max (EU),S. Name HD,S. Name HIP,S. Constellation,S. Type,P. Disc. Method
0,1RXS 1609 b,1,4.08E-06,4.08E-06,4.08E-06,0,0,Sco,K7V,Imaging
1,1SWASP J1407 b,1,0.02166914,0.02166914,0.02166914,0,0,Cen,K,Primary Transit
2,2M 0103-55(AB) b,1,3.96E-06,3.96E-06,3.96E-06,0,0,Phe,M,Imaging
3,2M 0122-24 b,1,1.03E-05,1.03E-05,1.03E-05,0,0,Cet,M3.5,Imaging
4,2M 0219-39 b,1,2.37E-07,2.37E-07,2.37E-07,0,0,For,M6,Imaging
...,...,...,...,...,...,...,...,...,...,...
3870,YBP1194 b,1,124.7097,197.4886,331.9188,0,0,Cnc,G5V,Radial Velocity
3871,YBP1514 b,1,120.2813,252.3098,624.3745,0,0,Cnc,G5V,Radial Velocity
3872,YZ Cet b,1,9.110547,9.110548,9.110549,0,0,Cet,M4.5,Radial Velocity
3873,YZ Cet c,1,4.674975,5.060307,5.48639,0,0,Cet,M4.5,Radial Velocity
3874,YZ Cet d,1,2.268338,2.915344,3.81074,0,0,Cet,M4.5,Radial Velocity

In [15]:
dataset["P. Disc. Method"].value_counts()

Primary Transit    1490
Transit            1398
Radial Velocity     750
Imaging              91
Microlensing         78
Pulsar               29
Other                14
transit              13
radial velocity       7
TTV                   4
Astrometry            1
Name: P. Disc. Method, dtype: int64

In [17]:
dataset.to_csv('new_data.csv')

In [18]:
dataset

,P. Name,P. Zone Class,P. Mass Class,P. Composition Class,P. Atmosphere Class,P. Habitable Class,P. Min Mass (EU),P. Mass (EU),P. Max Mass (EU),P. Radius (EU),...,P. HZI,P. SPH,P. Int ESI,P. Surf ESI,P. ESI,S. HabCat,P. Habitable,P. Hab Moon,P. Confirmed,P. Disc. Method
0,1RXS 1609 b,1,1,1,2,1,0.00,4451.16,0.0,19.04,...,0.00,0.0,0,0,0.05,0,0,0,1,Imaging
1,1SWASP J1407 b,1,1,1,2,1,6358.80,6358.80,0.0,10.94,...,0.02,0.0,0,0,0.07,0,0,0,1,Primary Transit
2,2M 0103-55(AB) b,1,1,1,2,1,4133.22,4133.22,0.0,11.40,...,0.00,0.0,0,0,0.06,0,0,0,1,Imaging
3,2M 0122-24 b,1,1,1,2,1,0.00,6358.80,0.0,11.20,...,0.00,0.0,0,0,0.08,0,0,0,1,Imaging
4,2M 0219-39 b,1,1,1,2,1,0.00,4419.37,0.0,16.13,...,0.00,0.0,0,0,0.06,0,0,0,1,Imaging
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3870,YBP1194 b,2,1,1,1,1,108.10,108.10,0.0,7.97,...,0.15,0.0,0,0,0.16,0,0,0,1,Radial Velocity
3871,YBP1514 b,2,1,1,1,1,127.18,127.18,0.0,8.34,...,0.15,0.0,0,0,0.15,0,0,0,1,Radial Velocity
3872,YZ Cet b,2,4,2,1,1,0.76,0.76,0.0,0.96,...,0.34,0.0,0,0,0.43,0,0,0,1,Radial Velocity
3873,YZ Cet c,2,4,2,1,1,0.99,0.99,0.0,1.04,...,0.36,0.0,0,0,0.53,0,0,0,1,Radial Velocity
3874,YZ Cet d,2,4,2,1,1,1.14,1.14,0.0,1.09,...,0.40,0.0,0,0,0.65,0,0,0,1,Radial Velocity

In [21]:
data = dataset.select_dtypes(['number'])

In [23]:
data.to_csv('./Naive Bayes/new_data_numeric.csv')

In [24]:
data

,P. Zone Class,P. Mass Class,P. Composition Class,P. Atmosphere Class,P. Min Mass (EU),P. Mass (EU),P. Max Mass (EU),P. Radius (EU),P. Density (EU),P. Gravity (EU),...,P. HZA,P. HZI,P. SPH,P. Int ESI,P. Surf ESI,P. ESI,S. HabCat,P. Habitable,P. Hab Moon,P. Confirmed
0,1,1,1,2,0.00,4451.16,0.0,19.04,0.64,12.28,...,85.62,0.00,0.0,0,0,0.05,0,0,0,1
1,1,1,1,2,6358.80,6358.80,0.0,10.94,4.86,53.12,...,45.41,0.02,0.0,0,0,0.07,0,0,0,1
2,1,1,1,2,4133.22,4133.22,0.0,11.40,2.79,31.79,...,107.44,0.00,0.0,0,0,0.06,0,0,0,1
3,1,1,1,2,0.00,6358.80,0.0,11.20,4.53,50.69,...,119.46,0.00,0.0,0,0,0.08,0,0,0,1
4,1,1,1,2,0.00,4419.37,0.0,16.13,1.05,16.99,...,133.25,0.00,0.0,0,0,0.06,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3870,2,1,1,1,108.10,108.10,0.0,7.97,0.21,1.70,...,0.57,0.15,0.0,0,0,0.16,0,0,0,1
3871,2,1,1,1,127.18,127.18,0.0,8.34,0.22,1.83,...,0.62,0.15,0.0,0,0,0.15,0,0,0,1
3872,2,4,2,1,0.76,0.76,0.0,0.96,0.86,0.83,...,-0.91,0.34,0.0,0,0,0.43,0,0,0,1
3873,2,4,2,1,0.99,0.99,0.0,1.04,0.88,0.91,...,-0.77,0.36,0.0,0,0,0.53,0,0,0,1
3874,2,4,2,1,1.14,1.14,0.0,1.09,0.89,0.97,...,-0.64,0.40,0.0,0,0,0.65,0,0,0,1

In [27]:
data.drop([0], axis = 0)

,P. Zone Class,P. Mass Class,P. Composition Class,P. Atmosphere Class,P. Min Mass (EU),P. Mass (EU),P. Max Mass (EU),P. Radius (EU),P. Density (EU),P. Gravity (EU),...,P. HZA,P. HZI,P. SPH,P. Int ESI,P. Surf ESI,P. ESI,S. HabCat,P. Habitable,P. Hab Moon,P. Confirmed
1,1,1,1,2,6358.80,6358.80,0.0,10.94,4.86,53.12,...,45.41,0.02,0.0,0,0,0.07,0,0,0,1
2,1,1,1,2,4133.22,4133.22,0.0,11.40,2.79,31.79,...,107.44,0.00,0.0,0,0,0.06,0,0,0,1
3,1,1,1,2,0.00,6358.80,0.0,11.20,4.53,50.69,...,119.46,0.00,0.0,0,0,0.08,0,0,0,1
4,1,1,1,2,0.00,4419.37,0.0,16.13,1.05,16.99,...,133.25,0.00,0.0,0,0,0.06,0,0,0,1
5,1,1,1,2,2384.55,2384.55,0.0,11.66,1.50,17.53,...,124.39,0.00,0.0,0,0,0.07,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3870,2,1,1,1,108.10,108.10,0.0,7.97,0.21,1.70,...,0.57,0.15,0.0,0,0,0.16,0,0,0,1
3871,2,1,1,1,127.18,127.18,0.0,8.34,0.22,1.83,...,0.62,0.15,0.0,0,0,0.15,0,0,0,1
3872,2,4,2,1,0.76,0.76,0.0,0.96,0.86,0.83,...,-0.91,0.34,0.0,0,0,0.43,0,0,0,1
3873,2,4,2,1,0.99,0.99,0.0,1.04,0.88,0.91,...,-0.77,0.36,0.0,0,0,0.53,0,0,0,1
3874,2,4,2,1,1.14,1.14,0.0,1.09,0.89,0.97,...,-0.64,0.40,0.0,0,0,0.65,0,0,0,1